<a href="#/items">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Item</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form ng-submit="addItem()">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="newItem.title" placeholder="title">
          </div>
          <div class="form-group">
            <label>Condition</label>
            <input type="text" class="form-control" ng-model="newItem.condition" placeholder="condition">
          </div>
          <div class="form-group">
            <label>Rating</label>
            <input type="text" class="form-control" ng-model="newItem.rating" placeholder="rating">
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" ng-model="newItem.price" placeholder="price">
          </div>
          <div class="form-group">
            <label>Category</label>
            <input type="text" class="form-control" ng-model="newItem.category" placeholder="category">
          </div>
          <div class="form-group">
            <label>Details</label>
            <input type="text" class="form-control" ng-model="newItem.details" placeholder="details">
          </div>
          <div class="form-group">
            <label>imgUrl</label>
            <input type="text" class="form-control" ng-model="newItem.imgUrl" placeholder="imgUrl">
          </div>
          
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>