<div id="itemListWrapper">
  <div class="panel panel-default" ng-init="searchItem()">
    <form class="form-inline" ng-submit="searchKey()">
      <input type="text" class="form-control" ng-model="key" placeholder="Search here..." aria-describedby="basic-addon1"> 
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="form-inline">
      <input type="text" class="form-control" placeholder="Filter by..."
      ng-model="searchStr">
      <label>Sort by:
        <select ng-model="selectedSortKey">
          <option value="title">title</option>
          <option value="price">price low to high</option>
          <option value="-price">price high to low</option>
          <option value="rating">rating low to high</option>
          <option value="-rating">rating high to low</option>
        </select>
      </label><br/>
    </div>
    <ul class="list-unstyled">
      <li class="item" ng-repeat="item in searchItems| filter:searchStr| orderBy: selectedSortKey"
      style="background: white url('imgs/{{item.imgUrl}}') no-repeat">
      <div class="item-details clearfix">
        <h3>{{item.title}}</h3>
        <p>{{item.price | currency:'$'}}</p>
        <ul class="list-unstyled list-inline">
          <li>Condition: {{item.condition}}</li>
          <li>Rating: {{item.rating}}</li>
          <li>Category: {{item.category}}</li>
        </ul>
        <p>{{item.details}}</p>
        <a class="btn btn-info pull-right" href="#/items/details/{{item._id}}">View Details</a>
      </div>
    </li>
  </ul>
</div>

